<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">

  </head>
  <body>
    <form class="multi-grid-container" id="setPassword" action="/set_password" method="post">
      Username: <input type="text" name="username" />
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>

      Password indices:
      <textarea class="index-box" name="index1" rows="3" cols="1"></textarea>
      <textarea class="index-box" name="index2" rows="3" cols="1"></textarea>
      <textarea class="index-box" name="index3" rows="3" cols="1"></textarea>
      <textarea class="index-box" name="index4" rows="3" cols="1"></textarea>
      <textarea class="index-box" name="index5" rows="3" cols="1"></textarea>
      <div></div>
      
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <input class="input-container" type="submit" value="Set" text-align="right"/>
    </form>
</html>
